footer
  .container.text-center
    p.pull-center © 2016 books &amp;, Inc. 55 Main Street Towson, MD 21204  info@books&amp;books.com  410-555-1212
    ul.pull-right.list-inline
      li
        a(href='https://facebook.com') Facebook
      li
        a(href='https://twitter.com') Twitter
      li
        a(href='https://instagram.com') Instagram

