@charset "UTF-8";

/* Project specific styles */

/* padding for tables */
td,
th {
  padding: 20px 40px 20px 20px;
  vertical-align: text-top;
}

td img {
  display: block;
  margin: 0px 0px 5px 40px;
/*  margin-left: auto;
  margin-right: auto;*/
}

td ul {
  list-style: none;
  /*text-align: left;*/
}

li {
  text-align: left;
}

.metaField {
  font-weight: bold;
}

.metaFieldPrice {
  color: red;
  font-weight: bold;
}

.mainContent {
  float: right;
  padding-top: 10px;
}

.detailImage {
  float: left;
  list-style: none;
  margin: 0px 15px 10px 0px;
}

.metaInfo .metaField {
  padding-left: 40px;
}

.detailContent {
  /*float: right;*/ 
}

.checkoutSection {
  /*background-color: #EEE;*/
  height: 680px;
  border: 1px #d3d3d3 solid;
  padding: 0px 5px;
}

.bookDetailQty {
  padding-top: 10px;
}

.form-control {
  width: 40%;
}

.cartTable {
  width: 75%;
}

.checkout-form-control {
  width: 100%;
}

.detail-form-control {
  width: 100%;
}

.cvv-form-control {
  width: 60%;
  padding-left: 50px;
  margin: 10px 25px;
/*  margin-top: 10px 0px 0px 50px;
  margin-left: 50px;*/
}

.cc-form-group {
  margin-left: 40px;
}

.expMonth-form-control {
  /*width: 150px;*/
  /*margin: 10px 10px;*/
  margin: 3px 20px 10px -75px;
}

.expYear-form-control {
  /*width: 150px;*/
  margin: 7px 20px 10px 0px;
}

.ccNum-form-control {
  margin: 5px 0px 0px -15px;
}

.expYear-control-label {
  margin-right: 8px;
}

.exp-form-group {
  margin-bottom: 0px;
}

.btn-checkout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px
}

.btn-paging {
  margin-right: 4px;
}

.pageBtn {
  background: #ddd;
}

h4 {
  color: green;
}